In [12]:
import pandas as pd
import numpy as np

### 비유사도와 데이터 병합한 파일 + 금리 변동 방향 추가

- 보내드릴 데이터 편집 작업마다 여기에서 별도로 만들어 처리

In [16]:
df = pd.read_csv("./DATA/merged_data.csv", index_col=0)
df

,cosine_similarity,dissimilarity,base_rate,base_rate_diff,FFR,ko-us_gap,governor,president,tr1,tr2
1999-01-07,NaN,NaN,NaN,NaN,4.750,NaN,전철환,김대중,NaN,NaN
1999-02-04,0.727940,0.272060,NaN,NaN,4.750,NaN,전철환,김대중,NaN,NaN
1999-03-04,0.733303,0.266697,NaN,NaN,4.750,NaN,전철환,김대중,NaN,NaN
1999-04-08,0.811213,0.188787,NaN,NaN,4.750,NaN,전철환,김대중,NaN,NaN
1999-05-06,0.759641,0.240359,4.75,NaN,4.750,0.000,전철환,김대중,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2022-11-24,0.917186,0.082814,3.25,1.0,3.875,-0.625,이창용,윤석열,7.225832,4.914102
2023-01-13,0.928007,0.071993,3.50,1.0,4.375,-0.875,이창용,윤석열,6.250150,1.879616
2023-02-23,0.926393,0.073607,3.50,0.0,4.625,-1.125,이창용,윤석열,6.250150,1.879616
2023-04-11,0.917157,0.082843,3.50,0.0,4.875,-1.375,이창용,윤석열,6.250150,1.879616
2023-05-25,0.916511,0.083489,3.50,0.0,5.125,-1.625,이창용,윤석열,6.250150,1.879616

In [17]:
df["base_rate_change"] = df["base_rate"] - df["base_rate"].shift(1)  # t에서 t-1을 뺌
df

,cosine_similarity,dissimilarity,base_rate,base_rate_diff,FFR,ko-us_gap,governor,president,tr1,tr2,base_rate_change
1999-01-07,NaN,NaN,NaN,NaN,4.750,NaN,전철환,김대중,NaN,NaN,NaN
1999-02-04,0.727940,0.272060,NaN,NaN,4.750,NaN,전철환,김대중,NaN,NaN,NaN
1999-03-04,0.733303,0.266697,NaN,NaN,4.750,NaN,전철환,김대중,NaN,NaN,NaN
1999-04-08,0.811213,0.188787,NaN,NaN,4.750,NaN,전철환,김대중,NaN,NaN,NaN
1999-05-06,0.759641,0.240359,4.75,NaN,4.750,0.000,전철환,김대중,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2022-11-24,0.917186,0.082814,3.25,1.0,3.875,-0.625,이창용,윤석열,7.225832,4.914102,0.25
2023-01-13,0.928007,0.071993,3.50,1.0,4.375,-0.875,이창용,윤석열,6.250150,1.879616,0.25
2023-02-23,0.926393,0.073607,3.50,0.0,4.625,-1.125,이창용,윤석열,6.250150,1.879616,0.00
2023-04-11,0.917157,0.082843,3.50,0.0,4.875,-1.375,이창용,윤석열,6.250150,1.879616,0.00
2023-05-25,0.916511,0.083489,3.50,0.0,5.125,-1.625,이창용,윤석열,6.250150,1.879616,0.00

In [18]:
def change_direction(x):
    if x == 0.0:
        return "유지"
    elif x > 0:
        return "상승"
    elif x < 0:
        return "하락"
    else:
        return np.nan

df["base_change_type"] = df["base_rate_change"].apply(change_direction)
df.iloc[:, -2:]

            base_rate_change base_change_type
1999-01-07               NaN              NaN
1999-02-04               NaN              NaN
1999-03-04               NaN              NaN
1999-04-08               NaN              NaN
1999-05-06               NaN              NaN
...                      ...              ...
2022-11-24              0.25               상승
2023-01-13              0.25               상승
2023-02-23              0.00               유지
2023-04-11              0.00               유지
2023-05-25              0.00               유지

[268 rows x 2 columns]

In [19]:
df.columns

Index(['cosine_similarity', 'dissimilarity', 'base_rate', 'base_rate_diff',
       'FFR', 'ko-us_gap', 'governor', 'president', 'tr1', 'tr2',
       'base_rate_change', 'base_change_type'],
      dtype='object')

In [20]:
target_cols = ['dissimilarity', 'base_rate', 'base_rate_change', 'base_change_type', 'FFR', 'ko-us_gap', 'governor', 'tr1', 'tr2',]
df = df[target_cols]
df

,dissimilarity,base_rate,base_rate_change,base_change_type,FFR,ko-us_gap,governor,tr1,tr2
1999-01-07,NaN,NaN,NaN,NaN,4.750,NaN,전철환,NaN,NaN
1999-02-04,0.272060,NaN,NaN,NaN,4.750,NaN,전철환,NaN,NaN
1999-03-04,0.266697,NaN,NaN,NaN,4.750,NaN,전철환,NaN,NaN
1999-04-08,0.188787,NaN,NaN,NaN,4.750,NaN,전철환,NaN,NaN
1999-05-06,0.240359,4.75,NaN,NaN,4.750,0.000,전철환,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2022-11-24,0.082814,3.25,0.25,상승,3.875,-0.625,이창용,7.225832,4.914102
2023-01-13,0.071993,3.50,0.25,상승,4.375,-0.875,이창용,6.250150,1.879616
2023-02-23,0.073607,3.50,0.00,유지,4.625,-1.125,이창용,6.250150,1.879616
2023-04-11,0.082843,3.50,0.00,유지,4.875,-1.375,이창용,6.250150,1.879616
2023-05-25,0.083489,3.50,0.00,유지,5.125,-1.625,이창용,6.250150,1.879616

In [22]:
df.to_excel("./DATA_xlsx/dissim_with_base_change_type.xlsx")